{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.submit() }} <a href="/retrieve">Забыли пароль?</a></p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    </form>
{% endblock %}
