{% extends 'base_orders.html' %}
{% block content %}
    {% if current_user.is_authenticated %}
        {% if current_user.user_type.name == 'seller' %}
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.order_current_status.label }}<br>
                    {{ form.order_current_status() }} {{ form.submit() }}
                </p>

            </form>
            {% if orders %}
                {% if items %}
                    <div style="margin: 10px auto; font-size: 14px; max-width: 650px; max-height: 150px; overflow: scroll">
                {% else %}
                    <div style="margin: 10px auto; font-size: 14px; max-width: 650px;">
                {% endif %}
            <table border="1" cellpadding="5">
                <tr>
                    <th>№ п/п</th>
                    <th>Номер заказа</th>
                    <th>Создан</th>
                    <th>Статус</th>
                    <th>Последние изменения</th>
                </tr>
                {% for order in orders %}
                    <tr>
                        <td>{{ orders.index(order)+1 }}.</td>
                        <td><a href={{ request.full_path.split("&order",1)[0]}}&order={{ order.id }}>Заказ
                            №{{ order.id }}</a></td>
                        <td>{{ order.created }}</td>
                        <td>{{ order.status.value }}</td>
                        <td>{{ order.last_change }}</td>
                    </tr>
                {% endfor %}
            </table>
            </div>
                <br><br>
            {% endif %}
        {% if items %}
            <form action="" method="post">
                <div style="margin: 0 auto; font-size: 14px; max-width: 1100px; max-height: 300px; overflow: scroll"
                ">
                <table border="1" cellpadding="5">
                    <thead>
                    <tr>
                        <th colspan="9">
                            <h3>ЗАКАЗ №{{ items[0].order }}</h3>
                        </th>
                    </tr>
                    </thead>
                    <tr>
                        <th>№ п/п</th>
                        {% if request.args.get('sort_by') and not request.args.get('reverse') %}
                            <th>
                                <a href="
                                        {{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=name&reverse=True">Наименование
                                    товара</a>
                            </th>
                            <th>
                                <a href="

                                        {{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=shop&reverse=True">Магазин</a>
                            </th>
                            <th>
                                <a href="
                                {{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=price&reverse=True">Цена<br>(руб/шт)</a>
                            </th>
                            <th>
                                <a href="

                            {{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=discount_price&reverse=True">Цена<br>со
                                    скидкой<br>(руб)</a>
                            </th>
                            <th>
                                <a href="

                                {{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=quantity&reverse=True">В
                                    заказ<br>(шт)</a>
                            </th>
                            <th>
                                <a href="

                                {{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=discount&reverse=True">Скидка</a>
                            </th>
                            <th>
                                <a href="

                                {{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=agg_price&reverse=True">Стоимость<br>(руб)</a>
                            </th>
                        {% else %}
                            <th>
                                <a href="{{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=name">Наименование
                                    товара</a>
                            </th>
                            <th>
                                <a href="



                                                {{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=shop">Магазин</a>
                            </th>
                            <th>
                                <a href="{{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=price">Цена<br>(руб/шт)</a>
                            </th>
                            <th>
                                <a href="
                                            {{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=discount_price">Цена<br>со
                                    скидкой<br>(руб)</a>
                            </th>
                            <th>
                                <a href="{{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=quantity">В
                                    заказ<br>(шт)</a>
                            </th>
                            <th>
                                <a href="
                                        {{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=discount">Скидка</a>
                            </th>
                            <th>
                                <a href="


                                {{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=agg_price">Стоимость<br>(руб)</a>
                            </th>
                            <th>
                                <a href="


                                {{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=status">Статус<br>позиции</a>
                            </th>
                        {% endif %}
                    </tr>

                    {% for item in items %}
                        <tr>
                            <td align="center">{{ items.index(item)+1}}.</td>
                            <td><a href={{ request.full_path }}&item={{ item.slug }}>{{ item.name }}</a></td>
                            <td>{{ item.shop_name }}</td>
                            <td align="center">{{ item.price }}</td>
                            <td align="center">{{ item.discount_price }}</td>
                            <td align="center">{{ item.quantity }}</td>
                            <td align="center">{{ item.discount }}</td>
                            <td align="center">{{ item.agg_price }}</td>
                            <form action="" method="post">
                                {% if item.status.value == "Заказан" %}
                                <td align="center"><select name="{{ item.slug }}_status_select">
                                    <option selected="selected">{{ item.status.value }}</option>
                                    {% for status in ["Собран", "Отменен"] %}
                                        {% if status != item.status.value %}:
                                            <option>{{ status }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select></td>
                                    <td align="center"><input type="submit" value="Сохранить"></td>
                            {% else %}
                                    <td align="center">{{ item.status.value }}</td>
                            {% endif %}

                            </form>

                        </tr>
                    {% endfor %}
                </table>
            </div>
            </form>
        {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
