{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {% if not request.args %}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    {% else %}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                <span style="color: #ff0000;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password_confirm.label }}<br>
            {{ form.password_confirm(size=32) }}
            {% for error in form.password_confirm.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    {% endif %}
    <p>{{ form.submit() }}
    </form>
{% endblock %}
