{% extends "base.html" %}
{% block content %}
    <div style="float: left; padding-right:20px;">
        {% if cats %}
            <table cellpadding="5">
            <tr>
                <th><h3>Категории</h3></th>
            </tr>
            {% for cat in cats %}
                <tr>
                    <td><a href={{ url_for('index') }}?cat={{ cat.name }} >{{ cat.name }}</a></td>
                </tr>
            {% endfor %}
            <td></td>
        {% endif %}
        </table>

    </div>

    <div style="float: left">
        {% if items or parameters %}
            <table border="1" cellpadding="5">
                {% if header %}
                    <tr>
                        <th colspan="6"><h3>{{ header }}</h3></th>
                    </tr>
                {% endif %}

                {% if items %}
                    <form action="" method="post" novalidate>
                        <tr>
                            {% if request.args.get('sort_by') and not request.args.get('reverse') %}
                                <th><a href="


                                        {{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=name&reverse=True">Наименование</a>
                                </th>
                                <th><a href="


                                        {{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=shop&reverse=True">Магазин</a>
                                </th>

                                <th><a href="


                                        {{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=price&reverse=True">Цена<br>(руб)</a>
                                </th>

                                <th><a href="



                                        {{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=stock_qty&reverse=True">На
                                    складе<br>(шт)</a></th>
                            {% else %}
                                <th><a href="{{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=name">Наименование</a>
                                </th>
                                <th><a href="
                                        {{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=shop">Магазин</a>
                                </th>
                                <th><a href="{{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=price">Цена<br>(руб)</a>
                                </th>
                                <th><a href="{{ request.full_path.split('&',1)[0].rstrip('?') }}&sort_by=stock_qty">На
                                    складе<br>(шт)</a></th>

                            {% endif %}
                            <th>В корзину<br>(шт)</th>
                        </tr>

                        {% for item in items %}
                            <td>
                                <a href={{ request.full_path }}&item={{ item.slug }}>{{ item.name }}</a>
                            </td>
                            <td>{{ item.shop_name }}</td>
                            {% if current_user.is_authenticated %}
                                <td>{{ item.price }}</td>
                                <td align="center">{{ item.stock_qty }}</td>
                                <label for={{ item.slug }}></label>
                                <div class="form-group" align="center">
                                    <label hidden="True">{{ item.slug }}_cart_qty</label>
                                    <td><input name={{ item.slug }}_cart_qty id={{ item.slug }}_cart_qty type="number"
                                               min="0" max={{ item.stock_qty }} step="1"/></td>
                                </div>
                            {% else %}
                                <td style="color: red"><strong>Скрыто</strong></td>
                                <td style="color: red"><strong>Скрыто</strong></td>
                                <td><input type="number" min="0" max=100000 step="1"/></td>
                            {% endif %}

                            </tr>
                        {% endfor %}
                        {% if current_user.is_authenticated %}
                            <p><input style="background-color: #9CDCFE" type="submit" value=" Добавить в корзину "></p>
                        {% else %}
                            <p style="color: red"><strong>Для оформления покупок авторизуйтесь в системе</strong></p>
                        {% endif %}
                    </form>
                {% endif %}

                {% if parameters %}
                    <tr>
                        <th>Параметр</th>
                        <th>Значение</th>
                    </tr>
                    {% for parameter in parameters %}
                        <tr>
                            <td>{{ parameter.name }}</td>
                            <td>{{ parameter.value }}</td>
                        </tr>
                    {% endfor %}

                    </table>

                    <div>
                        <br><a href={{ request.full_path.split('&',1)[0].rstrip('?')}}>Назад</a>
                    </div>
                {% endif %}

        {% endif %}
    </div>
{% endblock %}
